body.landing_page{
    /* reset  base on standard page */
    :where(.wp-block-columns.has-background) {
        padding: 0
    }
    padding-top: 0 ;
    /* FONTS */
    * {
        text-align: left;
    }
    h1,h2,h3,h4,h5,h6{
        font-weight: bold;
    }
    h1{
        font-size: 3.8rem;
    }   
    h2{
        font-size: 2.4rem;
        @include media(desktop){
                font-size: 40px;
        }
    }
    h3{
        font-size: 20px;
        @include media(desktop){
            font-size: 25px;
        }
    }
    #main > div{
        margin-top: 0;
        margin-bottom: 0;
       &:not(.full_img_blocks,.square_style){
        padding:6rem 0;
        @include media(desktop){
            padding:8rem 0;
        }
       }
    }
    /* spacing  16px margin mobile */

    /* breakpoint mobile 768px */

    /* rewrite base BB style */
    .full_img_blocks{
        min-height: calc(100dvh - 64px);
        @include media(tablet-portrait){
            min-height: calc(100dvh - 90px);   
        }
        .text_area{
        align-items: flex-end;
        box-sizing: border-box;
        @media screen and (min-width:768px) {
            padding: 0 3%;
            box-sizing: border-box;
        }
            .content{
                padding-bottom: 20%;
                margin-left: 0;
                @include media(tablet-portrait){
                    padding-left: 0;
                    padding-bottom: 20%;
                }
                h1{
                    line-height: 1.2;
                    @include calcfont(3.8rem);
                }
                h2{
                    text-align: left;
                    margin-bottom: 1.6rem;
                    @include calcfont(1.4rem);
                }
                h1,h2{
                    @media screen and (min-width:768px) {
                        max-width:560px; 
                    }
                    @media screen and (min-width:1280px) {
                        max-width:680px; 
                    }
                    @include media(desktop-large){
                        max-width:1000px; 
                        padding-left: calc((100% - 1440px) / 2);  
                    }
                }
            } 
        } 
    }

    .image-text,.mobile-reverse{
        .wp-block-button{
            margin-top:4rem !important
        }
        @include media(tablet-portrait){
            h2{
                margin-bottom: 2rem !important;
            }
        }
        @include media(desktop){
            h2{
                margin-bottom: 3rem !important;
            }
        }
        &.wp-block-columns .wp-block-column.has-text{
            padding-bottom: 0 !important;
            padding-top: 0 !important;
        }
    }

    .columns_content{
        .wp-block-group__inner-container{
            h2.wp-block-heading{
                font-size: 32px;
                padding: 0 1.6rem;
                @media screen and (min-width:768px) {
                    padding: 0 3%;
                    box-sizing: border-box;
                }
                @include media(desktop){
                    font-size: 60px;
                }
            }
            .wp-block-columns{
                padding: 0;
                box-sizing: border-box;
                max-width: 94%;
                margin-inline: auto;
                background-color: transparent !important;
                .wp-block-column{
                    padding: 1.6rem;
                    box-sizing: border-box;
                    background-color: #fff;
                }
                @include media(tablet-portrait){
                    display:flex;
                    flex-wrap: wrap !important;
                    background-color: #fff !important;
                    .wp-block-column{
                        flex-basis: calc(50% - 1.6rem) !important;
                        min-width: calc(50% -  1.6rem);
                    }
                }
                @include media(desktop){
                    display:grid;
                    gap: 3rem;
                    padding: 3rem;
                    .wp-block-column{
                        min-width: 100%;
                        padding: 0;
                    }
                }
                @include media(desktop-large){
                    max-width: 1440px;
                    display:grid;
                    .wp-block-column{
                        min-width: 100%;
                    }
                }
            }
        }
    }


    .square_style{
        gap:0;
        &.is-layout-flex{
            display: block;
            @media only screen and (min-width: 768px) {
                display: flex;
            }
        }
        .wp-block-cover{
            width: 100%;
            position: relative;
            @media only screen and (min-width: 768px) {
                width: 50%;
            }
            .wp-block-group__inner-container > *{
                padding: 0;
                margin-bottom: 1rem;
            }
            .wp-block-group{
                .wp-block-group__inner-container{
                    position: absolute;
                    height: 240px;
                    bottom: 0;
                }
                .is-layout-flex{
                    display: flex !important;
                }
            }
        }
    }

}